/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
bootstrap/app.php
bootstrap/autoload.php
public/js/app.js
package-lock.json
public/css/
public/mix-manifest.json
